

{% extends 'main.html' %}


{% block content %}


    <div id="upass-wrap">
        <div id="upass">
            <h2>Reset Password</h2>

            <form action="" method="POST" id="upass-form">


                {% csrf_token %}

                <label for="">Old Password</label>
                <input type="password" name="old_password">

                <label for="">New Password</label>
                <input type="password" name="new_password">

                <input type="submit" value="update" id="upass-upadte">
                <a href="{% url 'profile' %}">Back</a>

            </form>


        </div>
    </div>


{% endblock content %}